<p>Prezado(a),</p>
<p>Um participante da Vigilância Ativa informou estar com sintomas da síndrome: <%= @syndrome.description %></p><br>
<h4>Usuário(a):</h4>
<p>Id: <%= @user.id %></p>
<p>Nome: <%= @user.user_name %></p>
<p>Sexo: <%= @user.gender %></p>
<p>Data de Nascimento: <%= @date %></p>
<p>Telefone: <%= @user.phone %></p>
<p>Departamento: <%= @user.group.parent.description %></p>

<% if !@survey.household.nil? %>
  <h4>Familiar com sintomas </h4>
  <p>Id: <%= @household.id %></p>
  <p>Parentesco: <%= @household.kinship %></p>
  <p>Nome: <%= @household.description %></p>
  <p>Sexo: <%= @household.gender %></p>
  <p>Data de Nascimento: <%= @household.birthdate.strftime("%d, %m, %Y").gsub!(', ', '/') %></p>
  <% end %> 

<h4>Sintomas: </h4>
<ul>
  <% @symptoms.each do |symptom|  %>
    <p>
      <li><%= symptom.description %></li>
    </p> 
  <% end %>
</ul>
